@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">BEM-VINDO AO JOBSNET</h1>
    <p>CONECTANDO OPORTUNIDADES
         
</div>
<div class="text-center">
    <h2 class="display-6">
    
         <a class="btn btn-success" href="Vagas" role="button">VER VAGAS DISPONÍVEIS</a></h2>
</div>
<div class="text-center">
    <h2 class="display-6">
    
         <a  class="btn btn-success" href="Candidato" role="button">SE-CADASTRE</a></h2>
</div>


}
@section head{
    <style type="text/css">
         body {
            background-image: url("https://wallpapercave.com/wp/wp5134622.jpg");
            margin: 0;
        }
    </style>
}





            
       





